<div class="m-footer">
	<div class="container">
		<div class="footer-body">
			<div class="footer-nav">
				<div class="nav-left">
					<div class="left-code">
						<a href="#" target="_blank"><img src="../../../img/module/warehousing/code.png" /></a>
						<p>扫一扫，下载手机版</p>
					</div>
					<div class="left-code">
						<a href="#" target="_blank"><img src="../../../img/module/warehousing/code.png" /></a>
						<p>扫一扫，关注公众号</p>
					</div>
				</div>
				<div class="nav-right">
					<ul class="one">
						<li class="fist"><span><i class="fa fa-tags"></i></span>
							<a href="#" target="_blank">操作演示</a>
						</li>
						<li>
							<a href="#" target="_blank">会员注册</a>
						</li>
						<li>
							<a href="#" target="_blank">忘记密码</a>
						</li>
						<li>
							<a href="#" target="_blank">手机版操作</a>
						</li>
					</ul>
					<ul class="one">
						<li class="fist"><span><i class="fa fa-send"></i></span>
							<a href="#" target="_blank">用户指南</a>
						</li>
						<li>
							<a href="#" target="_blank">我要发布</a>
						</li>
						<li>
							<a href="#" target="_blank">我要采购</a>
						</li>
						<li>
							<a href="#" target="_blank">我要配送</a>
						</li>
					</ul>
					<ul class="one">
						<li class="fist"><span><i class="fa fa-reorder"></i></span>
							<a href="#" target="_blank">协议/规划</a>
						</li>
						<li>
							<a href="#" target="_blank">注册协议</a>
						</li>
						<li>
							<a href="#" target="_blank">入驻协议</a>
						</li>
						<li>
							<a href="#" target="_blank">交易规则</a>
						</li>
					</ul>
					<ul class="one">
						<li class="fist"><span><i class="fa fa-heart"></i></span>
							<a href="#" target="_blank">贴心帮助</a>
						</li>
						<li>
							<a href="#" target="_blank">常见问题</a>
						</li>
						<li>
							<a href="#" target="_blank">下载中心</a>
						</li>
					</ul>
				</div>
			</div>

		</div>
	</div>
	<div class="footer-about">
		<div class="container">
			<ul class="about-nav">
				<li>
					<a href="#" target="_blank">关于园区</a>
				</li>
				<li>
					<a href="#" target="_blank">联系我们</a>
				</li>
				<li>
					<a href="#" target="_blank">法律声明</a>
				</li>
				<li>
					<a href="#" target="_blank">友情链接</a>
				</li>
				<li>
					<a href="#" target="_blank">服务热线：0731-88888888</a>
				</li>
			</ul>
			<div class="about-copyright">
				湘公网安备：1388889999<br />
				Copyright © 1999-2017, All Rights Reserved
			</div>
		</div>
	</div>
</div>