<!--  公共头   -->
<div class="m-header">
	<!--  头顶部   -->
	<div class="header-top">
		<div class="container clearfix">
			<div class="top-left">
				<span>您好，欢迎来到雨花区产业园信息数据共享平台！</span>
			</div>
			<div class="top-right">
				<a class="right-login" href="../../../../module/login/index.html"><i class="fa fa-user"></i>登录</a>
				<a class="right-register" href="../../../../module/login/register.html"><i class="fa fa-pencil"></i>注册</a>
				<a class="right-main" href="#"><i class="fa fa-star-o"></i>收藏</a>
			</div>
		</div>
	</div>
	<!--  logo main  -->
	<div class="header-main">
		<div class="container clearfix">
			<div class="main-logo">
				<a href="../../../../module/index/index.html"><img src="../../../../img/common/logo.png" alt="" /></a>
				
			</div>
			
			<div class="main-p">
				<a><img src="../../../../img/common/header-title.png" alt="" /></a>
			</div>
		</div>
	</div>
</div>

